<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinnacle.garorasu.welcome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bag_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pinnacle.garorasu.welcome.Main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pinnacle.garorasu.welcome.NavigationScreen"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationActivity" />
        <activity
            android:name="com.pinnacle.garorasu.welcome.Login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="com.pinnacle.garorasu.welcome.FeedDetail.FeedDetailActivity"
            android:label="@string/title_activity_feed_detail"
            android:theme="@style/FeedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pinnacle.garorasu.welcome.NavigationScreen" />
        </activity>
        <activity
            android:name="com.pinnacle.garorasu.welcome.Videos.QuickPlayActivity"
            android:screenOrientation="landscape" />
        <activity android:name="com.pinnacle.garorasu.welcome.Login.LoginUI" />
        <activity android:name="com.pinnacle.garorasu.welcome.Quiz.QuizActivity" />
        <activity
            android:name="com.pinnacle.garorasu.welcome.Quiz.Category.CategorySelectionActivity"
            android:theme="@style/Topeka.CategorySelectionActivity" />
        <activity
            android:name="com.pinnacle.garorasu.welcome.Product.ProductDetail"
            android:theme="@style/FeedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pinnacle.garorasu.welcome.NavigationScreen" />
            </activity>
    </application>

</manifest>